
<div class="container h-100 overflow-auto">
<h3 class="py-2"> Edit account</h3>

<% if current_user.omniauth_status == true %> 

<p class="lead py-2 text-center" > Account connected via <% if current_user.omniauth_type == "google_oauth2" %> Google <% end %> </p>

<% else %> 

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  
<div class="container-fluid">
  <div class="row justify-content-center text-black">
  <div class="col-md-9">
   <div class="card">
    
      <div class="card-body py-md-4">
      
        <div class="form-group py-1">

               <%= f.email_field :email, autofocus: true, placeholder: "email", class:"form-control" %>
        </div>
                            
                          
   <div class="form-group py-1">

    <%= f.password_field :password, class: "form-control", placeholder: "password"  %>
   </div>
   <div class="form-group py-1">
      
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "confirm-password" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <br />
    <% end %>
   </div>
   <div class="form-group mt-5">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
     
   </div>
   
   
   <div class="d-flex flex-row align-items-center justify-content-between">
      <a href="/">Back</a>
                              
                                    <%= f.submit "Update", class: "btn btn-primary" %>
          </div>

      
     </div>
     
     
     
  </div>
</div>
</div>
</div>

<% end %>

<% end %> 


<div class="container py-4">
<span>Cancel my account</span>

<p>Unhappy? Cancel your account by selecting the button below. This will destroy your account and all created widgets. 


<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>

</div>