<h2>Log in</h2>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container-fluid text-black">
  <div class="row justify-content-center">
  <div class="col-md-9">
   <div class="card">
     <div class="container-fluid pt-3">
             
    <a rel="nofollow" data-method="post" href="/auth/google_oauth2">
      <button type="button" class="login-with-google-btn m-auto" >
        Sign in with Google
      </button> </a>
      </div>
      <div class="card-body py-md-4">
      
        <div class="form-group py-1">

               <%= f.email_field :email, autofocus: true, placeholder: "email", class:"form-control" %>
        </div>
                            
                          
   <div class="form-group py-1">
    <%= f.password_field :password, class: "form-control", placeholder: "password"  %>
   </div>
   
    <% if devise_mapping.rememberable? %>
    <div class="form-group py-1">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

   <div class="d-flex flex-row align-items-center justify-content-between">
      <a class="text-black" href="/signup">Sign up</a>
      <a class="text-black" href="/password/new">Forgot password?</a>
                              
                                    <%= f.submit "Sign in", class: "btn btn-primary" %>
          </div>

      
     </div>
  </div>
</div>
</div>
</div>
<% end %>


